.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Incoming {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
}

.Outgoing {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
}

.Incoming input {
  width: 200px;
  height: 30px;
}

.Outgoing input {
  width: 200px;
  height: 30px;
}

.Incoming button {
  width: 200px;
  height: 30px;
  margin-top: 10px;
}

.Outgoing button {
  width: 200px;
  height: 30px;
  margin-top: 10px;
}

.Incoming button:hover {
  cursor: pointer;
}

.Outgoing button:hover {
  cursor: pointer;
}
